doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="styles/normalize.css", rel="stylesheet", type="text/css")
    link(href="styles/style.css", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main.fade-in
        .header
          h1.fade-in 
            .small SF/Bay Area
            .fade-in Interns 2018
        .cover
        .circle
        .hero
          img(src="images/bridge.svg").bridge
        //- a.cta.fade-in Join the Community →
        form(method="POST", action="/invite")#join-form.form.invisible
          label(for="name").label #{__('ENTER_NAME')}
          input(type="text", name="name", placeholder="Will Smith")#slack-name.field
          label(for="name").label #{__('ENTER_EMAIL')}
          input(type="email", name="email", placeholder="you@example.com")#slack-email.field
          label(for="name").label #{__('ENTER_COMPANY')}
          input(type="text", name="company", placeholder="Google")#slack-company.field
          label(for="name").label #{__('ENTER_SCHOOL')}
          input(type="text", name="school", placeholder="Harvard")#slack-school.field
          button(type="submit").submit.fade-in.visible Join the Community
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js")
    script.
      TweenMax.staggerTo('.fade-in', 0.5, {
        opacity: 1,
        delay: 1,
        y: 0
      }, .15);
      TweenMax.staggerTo('.bridge', 2, {
        ease: Quart.easeOut,
        opacity: 1,
        delay: 1,
        y: 0,
        x: 0
      });
      TweenMax.staggerTo('.circle', 2, {
        ease: Cubic.easeOut,
        opacity: .44,
        delay: .5,
        y: 0
      });

      //var tokenRequired = #{tokenRequired};
      var title = true;

      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('input', function(evt) {
        let inputs = [];
        [...document.querySelectorAll('input[type="text"]')]
          .concat([...document.querySelectorAll('input[type="email"]')])
            .forEach((el) => {
              if (el.value) inputs.push(el)
            })
        if (inputs.length === 4)
          TweenMax.to('.submit', 0.05, {
            ease: Cubic.easeOut,
            opacity: 1,
            y: 0,
            visibility: "visible"
          }); 
        else 
          TweenMax.to('.submit', 0.05, {
            ease: Cubic.easeOut,
            opacity: 0,
            y: "2px",
            visibility: "hidden"
          }); 
      })
      form.addEventListener('submit', function(evt) {
        if (title) {
          evt.preventDefault();
          title = false;
          TweenMax.to('.bridge,.circle', 0.15, {
            ease: Cubic.easeOut,
            opacity: 0,
            y: 10,
            onComplete: () => {
              document.getElementById("join-form").classList.remove("invisible")
              document.getElementsByClassName("cover")[0].classList.add("invisible")
              TweenMax.fromTo('.submit', 0.05, {
                opacity: 1,
                y: "2px"
              }, {
                opacity: 0,
                y: "2px",
                visibility: "hidden"
              }); 
              TweenMax.fromTo('.label, .field', 0.15, {
                opacity: 0,
                y: "2px"
              }, {
                ease: Cubic.easeOut,
                opacity: 1,
                y: 0
              });
            }
          });  
          return;
        }
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
      });
